<h1>EVE Status Control</h1>

<h2> Links Available</h2>

<ul>
  <li><a href='/alliance_info'>Alliance Info</a></li>
  <li><a href='/conquerable_stations'>Conquerable Stations</a></li>
  <li><a href='/factional_warfare_stats'>Factional Warfare Stats</a></li>
  <li><a href='/reference_types'>Reference Types</a></li>
  <li><a href='/skill_tree'>Skill Tree</a></li>
</ul>
